global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
      monitor: 'my-project'

rule_files:
  - '*.rules.yml'

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
      - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'pushgateway'
    scrape_interval: 10s
    static_configs:
      - targets: ['pushgateway:9091']

  # - job_name: 'node-exporter'
  #   scrape_interval: 5s
  #   static_configs:
  #   - targets: ['pushgateway:9091']

  - job_name: 'cloud-operator'
    scrape_interval: 15s
    static_configs:
    - targets: ['cloud-operator:8081']