version: "3.7"

x-json-logging: &json_logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "1"

networks:
  proxy-net:
    external:
      name: "${DOCKER_LOCAL_NETWORK}"

volumes:
  grafana_data: {}

services:
  grafana:
    image: grafana/grafana:7.3.4
    container_name: grafana
    user: "472"
    logging: *json_logging
    networks:
      - proxy-net
    ports: ["3000:3000"]
    env_file: .env
    volumes:
      - grafana_data:/var/lib/grafana
      - .provisioning/:/etc/grafana/provisioning/
