version: "3.7"

x-json-logging: &json_logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "1"

networks:
  dsl-local:
    external:
      name: dsl-local

services:
  consul:
    image: consul:1.9.0
    container_name: consul
    logging: *json_logging
    networks:
      - dsl-local
    ports:
      - 8400:8400
      - 8500:8500
      - 8600:8600
      - 8600:8600/udp
    command: "agent -server -bootstrap-expect 3 -ui -client 0.0.0.0"