version: "3.7"

x-json-logging: &json_logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "1"

networks:
  proxy-net:
    external:
      name: "${DOCKER_LOCAL_NETWORK}"

services:
  redis:
    image: redis:6.0.8
    container_name: redis
    logging: *json_logging
    networks:
      - proxy-net
    ports: 
      - 6379:6379